<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .center {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Poke Battle - Home</title>
</head>
<body>

<div class="center">
    <h1>POKEMON NOT-STADIUM</h1>
    <br>
    <img src="/images/pokemon_stadium.jpeg" alt="Pokemon Stadium">
    <br><br>

    <form action="#" th:action="@{/select}" method="get">
        <input type="submit" value="Start Battling!">
    </form>
</div>

</body>
</html>
